{% extends "trips/base.html" %}

{% block content %}
<h2>Přihlášení</h2>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="mb-3">
        <label for="id_username">Uživatelské jméno:</label>
        <input type="text" name="username" autofocus required id="id_username" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="id_password">Heslo:</label>
        <input type="password" name="password" required id="id_password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Přihlásit se</button>
</form>
{% endblock %}
